.Header {
    display: flex;
    position: fixed;
    top: 0;
    background-color: #fff;
    align-items: center;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #dbdbdb;
    z-index: 30;

    

    &__logo {
        font-size: 20px;
        font-weight: 700;
        margin-left: 200px;
        margin-right: 300px;
    }
    &__wrapper {
        display: flex;
    }

    &__search {
        color: #8e8e8e;
        border: 1px solid #dbdbdb;
        cursor: text;
        text-align: center;
        margin-right: 500px;
    
    }

    &__item {

        cursor:pointer;

        &:hover {
            opacity: 0.7;
        }

        &:not(:last-child){
            margin-right: 17px;
            width: 22px;
            height: 22px;
        }
        &:last-child {
            background-color: black;
            border-radius: 50%;
            width: 22px;
            height: 22px;
        }
    }
}